doctype html
html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        title NightWatch
        link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
        link(href='//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css', rel='stylesheet')
        link(href='bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
        link(href='stylesheets/dashboard.css', rel='stylesheet')
        link(href='stylesheets/mydatatables.css', rel='stylesheet')
        link(href='stylesheets/bootstrap-datetimepicker.min.css', rel='stylesheet')
        link(href='stylesheets/dropdown-menu.css', rel='stylesheet')
    body
        .bw
            .fu
                .ge.aom
                    nav.aot
                        .aon
                            button.amy.amz.aoo(type="button", data-toggle="collapse", data-target="#nav-toggleable-sm")
                                span.ct Toggle nav
                            a.aop.cn(href="/")
                                span.bv.act.aoq.glyphicon.glyphicon-dashboard
                        .collapse.sidebar
                            form.search
                                input.form-control(type="text", placeholder="搜索...")
                            button.fm(type="submit")
                                span.adn.glyphicon.glyphicon-search
                            ul.nav.nav-stacked.of#navi
                                li.tq Dashboards
                                li.active
                                    a(href="#flows") Flows
                                li
                                    a(href="#flowheader") Flow Header Detection
                                li
                                    a(href="#trafficpattern") Traffic Pattern Detection
                .hc.aps
                    .apa
                        .apb
                            h2.apc NightWatch —— 网络异常流量检测系统
                        .ob.ape
                            .tn.aol
                                input.form-control#datetimepicker(type="text", value="2016-09-10 12:00", data-date-format="yyyy-mm-dd hh:ii")
                            button.btn.btn-info 选择
                    hr
                    h2.sub-header 网络监测图
                    .row.placeholders
                        .col-xs-6.col-sm-12.placeholder
                            //img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
                            h4#container(min-width='310px',height='400px')
                            span.text-muted
                    h2.sub-header 攻击情况
                    .table-responsive
                        table#attacks.table.table-bordered(cellpadding='0', cellspacing='0', border='0')
                            thead
                                tr
                                    th 开始时间
                                    th 持续时间
                                    th 攻击者
                                    th 被攻击者
                                    th 协议
                                    th 攻击描述
                    h2.sub-header#flows 流量监测表
                    .table-responsive
                        table#example.table.table-bordered(cellpadding='0', cellspacing='0', border='0')
                            thead
                                tr
                                    th 开始时间
                                    th 结束时间
                                    th 来源IP
                                    th 来源端口
                                    th 目的IP
                                    th 目的端口
                                    th 类型
                                    th 包数量
                                    th 包大小
                    h2.sub-header#flowheader 流头部识别的可能攻击情况
                    .table-responsive
                        table#attack.table.table-bordered(cellpadding='0', cellspacing='0', border='0')
                            thead
                                tr
                                    th 攻击者
                                    th 受攻击者
                                    th 协议
                                    th 攻击描述
                    h2.sub-header#trafficpattern 流量模型识别的可能攻击情况
                    h2.sub-header#sourcebased Source Based
                    .table-responsive
                        table#src_attack.table.table-bordered(cellpadding='0', cellspacing='0', border='0')
                            thead
                                tr
                                    th 开始时间
                                    th 攻击者
                                    th 协议
                                    th Flows/s
                                    th Packets/s
                                    th Bytes/s
                    h2.sub-header#dstbased Destination Based
                    .table-responsive
                        table#dst_attack.table.table-bordered(cellpadding='0', cellspacing='0', border='0')
                            thead
                                tr
                                    th 开始时间
                                    th 被攻击者
                                    th 协议
                                    th Flows/s
                                    th Packets/s
                                    th Bytes/s
                .menu
                    header.menu__header
                        h1.menu__header-title 及时消息
                        ul.list-group
                            li.list-group-item.list-group-item-success TCP SYN Flood
                            li.list-group-item.list-group-item-info Scanning
                            li.list-group-item.list-group-item-warning ICMP-Echo Flood
                            li.list-group-item.list-group-item-danger Smurf
        //
          Bootstrap core JavaScript
          ==================================================
        // Placed at the end of the document so the pages load faster
        script(src='javascripts/jquery-3.1.0.min.js')
        script(src='bootstrap/js/bootstrap.min.js')
        script(src='vendors/modernizr-2.6.2-respond-1.1.0.min.js')
        script(src='vendors/datatables/js/jquery.dataTables.min.js')
        script(src='javascripts/datetimepicker/bootstrap-datetimepicker.min.js')
        script(src='javascripts/datetimepicker/locales/bootstrap-datetimepicker.zh-CN.js')
        script(src='//code.highcharts.com/highcharts.js')
        script(src='//code.highcharts.com/highcharts-3d.js')
        script(src='//code.highcharts.com/modules/exporting.js')
        script(src='/socket.io/socket.io.js')
        script(src='javascripts/dashboard.js')
