doctype html
html
  head
    title 网络异常流量检测系统
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    link( rel="icon",href="/images/icon.jpg",type="image/x-icon")
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='assets/styles.css', rel='stylesheet', media='screen')
    //if lte IE 8
      script(language='javascript', type='text/javascript', src='vendors/flot/excanvas.min.js')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='vendors/modernizr-2.6.2-respond-1.1.0.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js')
    script(src='morris/morris.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js')
    script(src='morris/example.js')
    link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css')
    link(rel='stylesheet', href='morris/morris.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') 网络异常流量检测系统
          // /.nav-collapse
    .container-fluid
      .row-fluid
        #sidebar.span2
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li
              a(href='index')
                i.icon-chevron-right
                |  首页
            li.active
              a(href='tables.jade')
                i.icon-chevron-right
                |  统计表
            li
              a(href='length.jade')
                i.icon-chevron-right
                |  caplen
            li
              a(href='number.jade')
                i.icon-chevron-right
                |  wirelen
            li
              a(href='number_of_bytes.jade')
                i.icon-chevron-right
                |  ethernet.src
        // /span
        #content.span10
          // morris stacked chart
          h2 Length
          #graph
          script.
            var length = [
            {"id": "1", "Length": 34},
            {"id": "2", "Length": 24},
            {"id": "3", "Length": 3},
            {"id": "4", "Length": 12},
            {"id": "5", "Length": 13},
            {"id": "6", "Length": 22},
            {"id": "7", "Length": 5},
            {"id": "8", "Length": 26},
            {"id": "9", "Length": 12},
            {"id": "10", "Length": 19},
            {"id": "11", "Length": 100},
            {"id": "12", "Length": 119},
            {"id": "13", "Length": 129},
            {"id": "14", "Length": 139},
            {"id": "15", "Length": 149},
            {"id": "16", "Length": 159},
            {"id": "17", "Length": 169},
            {"id": "18", "Length": 179},
            {"id": "19", "Length": 198},
            {"id": "20", "Length": 195}
            ];
            Morris.Line({
            element: 'graph',
            data: length,
            xkey: 'id',
            ykeys: ['Length'],
            labels: ['Length'],
            parseTime: false
            });
          // morris stacked chart
          //
            <h2>Length</h2>
            <div id="graph"></div>
            <script>
            var bytes = [
            {"id": "1", "number of bytes": 34},
            {"id": "2", "number of bytes": 24},
            {"id": "3", "number of bytes": 3},
            {"id": "4", "number of bytes": 12},
            {"id": "5", "number of bytes": 13},
            {"id": "6", "number of bytes": 22},
            {"id": "7", "number of bytes": 5},
            {"id": "8", "number of bytes": 26},
            {"id": "9", "number of bytes": 12},
            {"id": "10", "number of bytes": 19},
            {"id": "11", "number of bytes": 100},
            {"id": "12", "number of bytes": 119},
            {"id": "13", "number of bytes": 129},
            {"id": "14", "number of bytes": 139},
            {"id": "15", "number of bytes": 149},
            {"id": "16", "number of bytes": 159},
            {"id": "17", "number of bytes": 169},
            {"id": "18", "number of bytes": 179},
            {"id": "19", "number of bytes": 198},
            {"id": "20", "number of bytes": 195}
            ];
            Morris.Line({
            element: 'graph',
            data: bytes,
            xkey: 'id',
            ykeys: ['number of bytes'],
            labels: ['number of bytes'],
            parseTime: false
            });
            </script>
    // /.fluid-container
    link(rel='stylesheet', href='vendors/morris/morris.css')
    script(src='vendors/jquery-1.9.1.min.js')
    script(src='vendors/jquery.knob.js')
    script(src='vendors/raphael-min.js')
    script(src='vendors/morris/morris.js')
    script(src='bootstrap/js/bootstrap.min.js')
    script(src='vendors/flot/jquery.flot.js')
    script(src='vendors/flot/jquery.flot.categories.js')
    script(src='vendors/flot/jquery.flot.pie.js')
    script(src='vendors/flot/jquery.flot.time.js')
    script(src='vendors/flot/jquery.flot.stack.js')
    script(src='vendors/flot/jquery.flot.resize.js')
    script(src='assets/scripts.js')
    script.
