doctype html
html
  head
    title 网络异常流量检测系统
    meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
    link( rel="icon",href="/images/icon.jpg",type="image/x-icon")
    link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
    link(href='bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
    link(href='assets/styles.css', rel='stylesheet', media='screen')
    //if lte IE 8
      script(language='javascript', type='text/javascript', src='vendors/flot/excanvas.min.js')
    // HTML5 shim, for IE6-8 support of HTML5 elements
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
    script(src='vendors/modernizr-2.6.2-respond-1.1.0.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.2/raphael-min.js')
    script(src='morris/morris.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.js')
    script(src='morris/example.js')
    link(rel='stylesheet', href='http://cdnjs.cloudflare.com/ajax/libs/prettify/r224/prettify.min.css')
    link(rel='stylesheet', href='morris/morris.css')
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.brand(href='#') 网络异常流量检测系统
          // /.nav-collapse
    .container-fluid
      .row-fluid
        #sidebar.span2
          ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
            li
              a(href='index')
                i.icon-chevron-right
                |  首页
            li.active
              a(href='tables.jade')
                i.icon-chevron-right
                |  统计表
            li
              a(href='length.jade')
                i.icon-chevron-right
                |  caplen
            li
              a(href='number.jade')
                i.icon-chevron-right
                |  wirelen
            li
              a(href='number_of_bytes.jade')
                i.icon-chevron-right
                |  ethernet.src
        // /span
        #content.span10
          // morris stacked chart
          h2#test Number Of Bytes
          #graph
          script.
            //                        var bytes = [];
            //                        $.ajax({
            //                            type:"GET",
            //                            url:"data/objects.json",
            //                            dataType: "json",
            //                            success: function(data){
            //                                $.each(data,function(i,item){
            //                                    var item_ex = {};
            //                                    item_ex["id"] = item.id;
            //                                    item_ex["number"] = item.number;
            //                                    bytes.push(item_ex);
            //                                })
            //                            }
            //                        });
            var bytes = [
            {id: 1, number: 34},
            {id: 2, number: 24},
            {id: 3, number: 3},
            {id: 4, number: 12},
            {id: 5, number: 13},
            {id: 6, number: 22},
            {id: 7, number: 5},
            {id: 8, number: 26},
            {id: 9, number: 12},
            {id: 10, number: 19}];
            Morris.Line({
            element: 'graph',
            data: bytes,
            xkey: 'id',
            ykeys: ['number'],
            labels: ['number of bytes'],
            parseTime: false
            });
    // /.fluid-container
    link(rel='stylesheet', href='vendors/morris/morris.css')
    script(src='vendors/jquery-1.9.1.min.js')
    script(src='vendors/jquery.knob.js')
    script(src='vendors/raphael-min.js')
    script(src='vendors/morris/morris.js')
    script(src='bootstrap/js/bootstrap.min.js')
    script(src='vendors/flot/jquery.flot.js')
    script(src='vendors/flot/jquery.flot.categories.js')
    script(src='vendors/flot/jquery.flot.pie.js')
    script(src='vendors/flot/jquery.flot.time.js')
    script(src='vendors/flot/jquery.flot.stack.js')
    script(src='vendors/flot/jquery.flot.resize.js')
    script(src='assets/scripts.js')
    script.
