doctype html
html
    head
        title 网络异常流量检测系统
        meta(http-equiv='Content-Type', content='text/html;charset=utf-8')
        // Bootstrap
        link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
        link(href='bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
        link(href='assets/styles.css', rel='stylesheet', media='screen')
        link(href='assets/DT_bootstrap.css', rel='stylesheet', media='screen')
        //if lte IE 8
          script(language='javascript', type='text/javascript', src='vendors/flot/excanvas.min.js')
        // HTML5 shim, for IE6-8 support of HTML5 elements
        //if lt IE 9
          script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
        script(src='vendors/jquery-1.12.3.min.js')
        script(src='vendors/modernizr-2.6.2-respond-1.1.0.min.js')
        script(src='bootstrap/js/bootstrap.min.js')
        script(src='vendors/datatables/js/jquery.dataTables.min.js')
        script(src='assets/scripts.js')
        script(src='assets/DT_bootstrap.js')
        script.
            /* Formatting function for row details - modify as you need */
            function format(d) {
                // `d` is the original data object for the row
                return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                        '<tr>' +
                        '<td>Ethernet:</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>Src:</td>' +
                        '<td>' + d.ethernet.src + '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>Dst:</td>' +
                        '<td>' + d.ethernet.dst + '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>Length:</td>' +
                        '<td>' + d.ethernet.length + '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>Offset:</td>' +
                        '<td>' + d.ethernet.offset + '</td>' +
                        '</tr>' +
                        '</table>';
            }

            function format1(d) {
                // `d` is the original data object for the row
                return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                        '<tr>' +
                        '<td>Ip:</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>Src:</td>' +
                        '<td>' + d.ip.src + '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>Dst:</td>' +
                        '<td>' + d.ip.dst + '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>Length:</td>' +
                        '<td>' + d.ip.length + '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>Offset:</td>' +
                        '<td>' + d.ip.offset + '</td>' +
                        '</tr>' +
                        '</table>';
            }

            function format2(d) {
                // `d` is the original data object for the row
                return '<table cellpadding="5" cellspacing="0" border="0" style="padding-left:50px;">' +
                        '<tr>' +
                        '<td>Tcp:</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>Src:</td>' +
                        '<td>' + d.tcp.src + '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>Dst:</td>' +
                        '<td>' + d.tcp.dst + '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>Ack:</td>' +
                        '<td>' + d.tcp.ack + '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>Rst:</td>' +
                        '<td>' + d.tcp.rst + '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>Syn:</td>' +
                        '<td>' + d.tcp.syn + '</td>' +
                        '</tr>' +
                        '<tr>' +
                        '<td>Fin:</td>' +
                        '<td>' + d.tcp.fin + '</td>' +
                        '</tr>' +
                        '</table>';
            }
            $(document).ready(function() {
                var table = $('#example').DataTable( {
                    destroy : true,
                    "ajax": "api/trafficData",
                    "columns": [
                        { "data": 'timestamp' },
                        { "data": "caplen" },
                        { "data": "wirelen"},
                        {
                            "className":      'details-control',
                            "orderable":      false,
                            "data":           null,
                            "defaultContent": ''
                        },
                        {
                            "className": 'details-control-1',
                            "orderable": false,
                            "data": null,
                            "defaultContent": ''
                        },
                        {
                            "className": 'details-control-2',
                            "orderable": false,
                            "data": null,
                            "defaultContent": ''
                        }
                    ],
                    "order": [[1, 'asc']]
                } );
                // Add event listener for opening and closing details
                $('#example tbody').on('click', 'td.details-control', function () {
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        $(this).removeClass('shown');
                    }
                    else {
                        // Open this row

                        row.child(format(row.data())).show();
                        $(this).addClass('shown');
                    }
                });

                $('#example tbody').on('click', 'td.details-control-1', function () {
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        $(this).removeClass('shown');
                    }
                    else {
                        if (row.data().ip){
                            // Open this row
                            row.child(format1(row.data())).show();
                            $(this).addClass('shown');
                        } else {
                            alert("none");
                        }
                    }
                });

                $('#example tbody').on('click', 'td.details-control-2', function () {
                    var tr = $(this).closest('tr');
                    var row = table.row(tr);

                    if (row.child.isShown()) {
                        // This row is already open - close it
                        row.child.hide();
                        $(this).removeClass('shown');
                    }
                    else {
                        // Open this row
                        if (row.data().tcp) {
                            row.child(format2(row.data())).show();
                            $(this).addClass('shown');
                        } else {
                            alert("none");
                        }
                    }
                });
            } );
        style(type='text/css').
            td.details-control {
                background: url('/images/details_open.png') no-repeat center center;
                cursor: pointer;
            }


            td.details-control-1 {
                background: url('/images/details_open.png') no-repeat center center;
                cursor: pointer;
            }


            td.details-control-2 {
                background: url('/images/details_open.png') no-repeat center center;
                cursor: pointer;
            }

            td.shown {
                background: url('/images/details_close.png') no-repeat center center;
            }
    body
        .navbar.navbar-fixed-top
            .navbar-inner
                .container-fluid
                    a.btn.btn-navbar(data-toggle='collapse', data-target='.nav-collapse')
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.brand(href='#') 网络异常流量检测系统
        .container-fluid
            .row-fluid
                #sidebar.span2
                    ul.nav.nav-list.bs-docs-sidenav.nav-collapse.collapse
                        li
                            a(href='index')
                                i.icon-chevron-right
                                |  首页
                        li.active
                            a(href='tables.jade')
                                i.icon-chevron-right
                                |  统计表
                        li
                            a(href='length.jade')
                                i.icon-chevron-right
                                |  caplen
                        li
                            a(href='number.jade')
                                i.icon-chevron-right
                                |  wirelen
                        li
                            a(href='number_of_bytes.jade')
                                i.icon-chevron-right
                                |  ethernet.src
                // /span
                #content.span10
                    .row-fluid
                        // block
                        .block
                            .navbar.navbar-inner.block-header
                                .muted.pull-left 包统计
                            .block-content.collapse.in
                                .span12
                                    table#example.table.table-striped.table-bordered(cellpadding='0', cellspacing='0', border='0')
                                        thead
                                            tr
                                                th time
                                                th caplen
                                                th wirelen
                                                th ethernet
                                                th ip
                                                th tcp
                                        tfoot
                                            tr
                                                th time
                                                th caplen
                                                th wirelen
                                                th ethernet
                                                th ip
                                                th tcp
                        // /block
        // /.fluid-container
