doctype html
html(lang='zh-CN')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        // 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='../../favicon.ico')
        title 网络异常流量分析
        // Bootstrap core CSS
        link(href='bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Custom styles for this template
        link(href='stylesheets/dashboard.css', rel='stylesheet')
        link(href='assets/DT_bootstrap.css', rel='stylesheet', media='screen')
        link(href='bootstrap/css/bootstrap-responsive.min.css', rel='stylesheet', media='screen')
        //link(href='/bootstrap/css/bootstrap.min.css', rel='stylesheet', media='screen')
          //  link(href='assets/styles.css', rel='stylesheet', media='screen')


        // HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
        //if lt IE 9
          script(src='//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js')
          script(src='//cdn.bootcss.com/respond.js/1.4.2/respond.min.js')
    body
        .bw
            .fu
                .ge.aom
                    nav.aot
                        .aon
                            button.amy.amz.aoo(type="button", data-toggle="collapse", data-target="#nav-toggleable-sm")
                                span.ct Toggle nav
                            a.aop.cn(href="index.html")
                                span.bv.act.aoq.glyphicon.glyphicon-dashboard
                        .collapse.sidebar
                            form.search
                                input.form-control(type="text", placeholder="搜索...")
                            button.fm(type="submit")
                                span.adn.glyphicon.glyphicon-search
                            ul.nav.nav-stacked.of
                                li.tq Dashboards
                                li.active
                                    a(href="dashboard.html") table
                                li
                                    a(href="tables.html") chart
                .hc.aps
                    .apa
                        .apb
                            h2.apc 网络异常流量检测
                        .ob.ape
                            .tn.aol
                                input.form-control(type="text", value="01/01/15 - 12/31/15", data-provide="datepicker")
                    hr
                    h2.sub-header 流量监测图
                    .row.placeholders
                        .col-xs-6.col-sm-12.placeholder
                            //img.img-responsive(data-src='holder.js/200x200/auto/sky', alt='Generic placeholder thumbnail')
                            h4#container(min-width='310px',height='400px')
                            span.text-muted
                        .col-xs-6.col-sm-12.placeholder
                            h4#container1(min-width='300px',height='400px')

        //
          Bootstrap core JavaScript
          ==================================================
        // Placed at the end of the document so the pages load faster
        script(src='javascripts/jquery-3.1.0.min.js')
        script(src='bootstrap/js/bootstrap.min.js')
        script(src='vendors/jquery-1.12.3.min.js')
        script(src='vendors/modernizr-2.6.2-respond-1.1.0.min.js')
        script(src='bootstrap/js/bootstrap.min.js')
        script(src='vendors/datatables/js/jquery.dataTables.min.js')
        script(src='assets/scripts.js')
        script(src='assets/DT_bootstrap.js')
        script(src='https://code.highcharts.com/highcharts.js')
        script(src='https://code.highcharts.com/highcharts-3d.js')
        script(src='https://code.highcharts.com/modules/exporting.js')
        script.
            $(function () {
                $('#container1').highcharts({
                    chart: {
                        type: 'column'
                    },
                    title: {
                        text: 'World\'s largest cities per 2014'
                    },
                    subtitle: {
                        text: 'Source: <a href="http://en.wikipedia.org/wiki/List_of_cities_proper_by_population">Wikipedia</a>'
                    },
                    xAxis: {
                        type: 'category',
                        labels: {
                            rotation: -45,
                            style: {
                                fontSize: '13px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: 'Population (millions)'
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    tooltip: {
                        pointFormat: 'Population in 2008: <b>{point.y:.1f} millions</b>'
                    },
                    series: [{
                        name: 'Population',
                        data: [
                            ['Shanghai', 23.7],
                            ['Lagos', 16.1],
                            ['Istanbul', 14.2],
                            ['Karachi', 14.0],
                            ['Mumbai', 12.5],
                            ['Moscow', 12.1],
                            ['São Paulo', 11.8],
                            ['Beijing', 11.7],
                            ['Guangzhou', 11.1],
                            ['Delhi', 11.1],
                            ['Shenzhen', 10.5],
                            ['Seoul', 10.4],
                            ['Jakarta', 10.0],
                            ['Kinshasa', 9.3],
                            ['Tianjin', 9.3],
                            ['Tokyo', 9.0],
                            ['Cairo', 8.9],
                            ['Dhaka', 8.9],
                            ['Mexico City', 8.9],
                            ['Lima', 8.9]
                        ],
                        dataLabels: {
                            enabled: true,
                            rotation: -90,
                            color: '#FFFFFF',
                            align: 'right',
                            format: '{point.y:.1f}', // one decimal
                            y: 10, // 10 pixels down from the top
                            style: {
                                fontSize: '13px',
                                fontFamily: 'Verdana, sans-serif'
                            }
                        }
                    }]
                });
            });
        script.
            $(function () {
                $('#container').highcharts({
                    title: {
                        text: 'Combination chart'
                    },
                    xAxis: {
                        categories: ['Apples', 'Oranges', 'Pears', 'Bananas', 'Plums']
                    },
                    labels: {
                        items: [{
                            html: 'Total fruit consumption',
                            style: {
                                left: '50px',
                                top: '18px',
                                color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                            }
                        }]
                    },
                    series: [{
                        type: 'column',
                        name: 'Jane',
                        data: [3, 2, 1, 3, 4]
                    }, {
                        type: 'column',
                        name: 'John',
                        data: [2, 3, 5, 7, 6]
                    }, {
                        type: 'column',
                        name: 'Joe',
                        data: [4, 3, 3, 9, 0]
                    }, {
                        type: 'spline',
                        name: 'Average',
                        data: [3, 2.67, 3, 6.33, 3.33],
                        marker: {
                            lineWidth: 2,
                            lineColor: Highcharts.getOptions().colors[3],
                            fillColor: 'white'
                        }
                    }, {
                        type: 'pie',
                        name: 'Total consumption',
                        data: [{
                            name: 'Jane',
                            y: 13,
                            color: Highcharts.getOptions().colors[0] // Jane's color
                        }, {
                            name: 'John',
                            y: 23,
                            color: Highcharts.getOptions().colors[1] // John's color
                        }, {
                            name: 'Joe',
                            y: 19,
                            color: Highcharts.getOptions().colors[2] // Joe's color
                        }],
                        center: [100, 80],
                        size: 100,
                        showInLegend: false,
                        dataLabels: {
                            enabled: false
                        }
                    }]
                });
            });
